RewriteEngine On
RewriteBase /

# Si el archivo o directorio no existe, redirige a index.php
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^ index.php [QSA,L]

# Protege los archivos y directorios de ser listados o accedidos directamente
Options -Indexes

# Denegar acceso a los archivos .htaccess
<Files .htaccess>
Order allow,deny
Deny from all
</Files>

# Denegar acceso al directorio src
RewriteRule ^src/ - [F,L]